---
import Arrow from "../../../public/images/arrow.svg";
import Image1 from "../../../public/images/pj02img01.png";
import Image2 from "../../../public/images/pj02img02.png";
import Link from "../misc/Link.astro";
---

<section>
  <div style="max-width: 55rem;">
    <h2 class="noise-texture-text">
      <span>OneSeventy Storefront</span>
      <span class="title-aside">
        <a href="https://oneseventy.es" target="_blank">
          <img src={Arrow.src} />
        </a>
      </span>
    </h2>
    <h3 class="noise-texture-text">Introduction and the first steps</h3>
    <p>
      OneSeventy is a urban jewelry brand created by 2 friends which contacted
      me for making the storefront and help them out with their e-commerce
      project.
    </p>
    <p>
      At first, when they contacted me, I suggested them to create the online
      shop using Shopify. I knew it was one of the most popular platforms for
      making an online store as almost every shop I saw in the internet that was
      not a really big buissness used Shopify for the e-commerce. The only thing
      I was having doubts about was how to make the storefront. I knew Shopify
      had a default storefront with some themes for free, but the objective was
      to making a unique and fully customizable storefront. After some research,
      I found the <Link link="https://hydrogen.shopify.dev/" name="Hydrogen" /> framework,
      which is based on Remix for creating custom storefronts for Shopify and easy
      to deploy on the platform using Oxigen.
    </p>
    <p>
      After some time reading the docs and reviewing some tutorials on internet,
      I decided that Hydrogen and Shopify was the way to go and told my friends
      we could start the project.
    </p>
    <h3 class="noise-texture-text">Development</h3>
    <p>
      After creating the quickstart project and setting up the API keys, the
      development of the storefront started. It took several days to get the
      first version of the storefront ready to show the potential of it. Both of
      my friends liked it a lot. I was told to make some tweaks on the design so
      it could be more like how they had in mind. After that and setting up the
      domain, the first version of the storefront was online and ready to use
      for all customers.
    </p>
    <p>
      The second version of it added new tweaks on the design and new sections
      to the page:
    </p>
    <ul>
      <li>
        The first one is dedicated to the customers, showing comments and social
        media content they uploaded on the page.
      </li>
      <li>
        A know us section, which have a little introduction and the intentions
        of the brand, as well as some info about their creators
      </li>
      <li>A FAQ</li>
    </ul>
    <p>
      The first collection was also disabled so the customers couldn't buy the
      items of said collection anymore but was left visible as a way to show
      them off.
    </p>

    <p>
      Currently, im still adding the ideas they have to the page and assisting
      them with the use of Shopify.
    </p>

    <h3 class="noise-texture-text">Gallery</h3>
  </div>
  <div class="gallery-wrapper">
    <img src={Image1.src} alt="" />
    <img src={Image2.src} alt="" />
    <img src={Image2.src} alt="" />
  </div>
</section>

<style>
  section {
    /* max-width: 55rem; */
  }

  h3 {
    border-bottom: 1px dashed #00000020;
  }

  h3:not(:nth-child(-n + 2)) {
    margin-top: 3rem;
  }

  .title-aside {
    float: right;
  }

  li {
    margin-bottom: 1rem;
  }

  .gallery-wrapper {
    margin-right: 0rem;

    @media (min-width: 1024px) {
      margin-right: 5rem;

      display: grid;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      margin-right: 5rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }
  }

  .gallery-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .gallery-wrapper img:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
  }

  .gallery-wrapper img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
    border-bottom-right-radius: 3rem;
  }

  .gallery-wrapper img:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }
</style>
