---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.astro";
import Main from "../components/Main.astro";
---

<Layout title="Ismael Gómez | Portfolio">
  <div class="wrapper">
    <Aside />
    <Main />
  </div>
  <div class="spot one"></div>
  <div class="spot two"></div>
  <div class="spot three"></div>
  <div class="theme-button" id="theme-button">
    <i id="theme-icon" class="bx bxs-moon"></i>
  </div>
</Layout>

<script>
  document.querySelectorAll(".spot").forEach((elem) => {
    elem.addEventListener("wheel", (e) => {
      e.preventDefault();
      e.stopPropagation();
    });
  });

  const _themeIcon = document.getElementById("theme-icon");
  const _body = document.body;
  document.getElementById("theme-button").addEventListener("click", (e) => {
    if (!_body.classList.contains("dark-mode")) {
      _body.classList.add("dark-mode");
      _themeIcon.classList.remove("bxs-moon");
      _themeIcon.classList.add("bxs-sun");
    } else {
      _body.classList.remove("dark-mode");
      _themeIcon.classList.add("bxs-moon");
      _themeIcon.classList.remove("bxs-sun");
    }
  });
</script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    transition: 0.25s;

    background-image: linear-gradient(
        rgba(246, 246, 246, 0.4) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(246, 246, 246, 0.4) 0.1em, transparent 0.1em);
    background-size: 3em 3em;

    font-family:
      /* "Testing", */
      "Computer Modern Typewriter Text Regular",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  body.dark-mode {
    background-image: linear-gradient(
        rgba(26, 26, 26, 0.4) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(26, 26, 26, 0.4) 0.1em, transparent 0.1em);
  }

  .theme-button {
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    border: 1px solid #e1e1e1;
    color: black;
    border-radius: 0.8rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    margin: 1rem;
    cursor: pointer;
  }

  .theme-button i {
    display: block;
  }

  .spot.one {
    z-index: 2;
    scroll-behavior: none;
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: rgb(195, 255, 0);
    top: 5rem;
    right: 5rem;
    border-radius: 50%;
    filter: blur(300px);
  }

  .spot.two {
    z-index: 2;

    scroll-behavior: none;
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: rgb(70, 227, 255);
    /* background-color: rgb(156, 232, 246); */
    bottom: 0;
    right: calc(50vh - 100px);
    border-radius: 50%;
    filter: blur(300px);
  }

  .spot.three {
    z-index: 2;

    scroll-behavior: none;
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: rgb(243, 138, 255);
    top: -10rem;
    left: -10rem;
    border-radius: 50%;
    filter: blur(300px);
  }

  .wrapper {
    padding: 1rem;
    display: flex;
    height: 100%;
    flex-direction: column;

    @media (min-width: 1024px) {
      height: 100vh;
    }

    /* font-family:
      "Devanagari Sangam MN",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"; */
  }

  /* desktop */
  @media (min-width: 1024px) {
    .wrapper {
      flex-direction: row;
    }
  }
</style>
