---
import Layout from "../layouts/Layout.astro";
import Aside from "../components/Aside.astro";
import Main from "../components/Main.astro";
---

<Layout title="Personal portfolio">
  <div class="wrapper">
    <Aside />
    <Main />
  </div>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;

    background-image: linear-gradient(
        rgba(246, 246, 246, 0.4) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(246, 246, 246, 0.4) 0.1em, transparent 0.1em);
    background-size: 3em 3em;

    font-family:
      "Computer Modern Typewriter Text Regular",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  body.dark-mode {
    background-image: linear-gradient(
        rgba(26, 26, 26, 0.4) 0.1em,
        transparent 0.1em
      ),
      linear-gradient(90deg, rgba(26, 26, 26, 0.4) 0.1em, transparent 0.1em);
  }

  .wrapper {
    padding: 1rem;
    display: flex;
    height: 100vh;
    flex-direction: column;

    /* font-family:
      "Devanagari Sangam MN",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji"; */
  }

  /* desktop */
  @media (min-width: 1024px) {
    .wrapper {
      flex-direction: row;
    }
  }
</style>
