<footer>
  <ul>
    <li>
      <span>[Email]</span>
      <span
        ><a href="mailto:ismaelgomezreche@gmail.com" target="_blank">
          ismaelgomezreche@gmail.com
        </a></span
      >
    </li>
    <li>
      <span>[LinkedIn]</span>
      <span>
        <a href="https://www.linkedin.com/in/ismaelgomezreche/" target="_blank">
          linkedin.com/in/ismaelgomezreche
        </a>
      </span>
    </li>
    <li>
      <span>[GitHub]</span>
      <span>
        <a href="https://github.com/IsPeG" target="_blank">
          github.com/IsPeG
        </a>
      </span>
    </li>
  </ul>
</footer>

<style>
  ul {
    counter-reset: item;
    margin: 0;
    padding-left: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    text-align: left;
  }

  li span {
    display: block;
  }

  a {
    color: inherit;
  }
</style>
