---
import About from "../components/About.astro";
import Knowledge from "../components/Knowledge.astro";
import Projects from "../components/Projects.astro";
import Professional from "../components/Professional.astro";
---

<main>
  <About />
  <Professional />
  <Projects />
  <Knowledge />
</main>
<script>
  // smooth scrolling when clicking an a tag
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
        e.preventDefault();

        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
    });
});
</script>

<style>
  main {
    z-index: 5;
    width: 100%;
    overflow-y: none;
    /* desktop */
    @media (min-width: 1024px) {
      width: 67%;
      overflow-y: auto;
      scrollbar-width: none;
    }
  }

  
</style>
