<main>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test blue" id="knowledge"></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test"></div>
  <div class="test blue" id="projects"></div>
</main>

<style>
  main {
    width: 100%;
    background-color: blueviolet;
    overflow-y: auto;
    scrollbar-width: none;
  }

  /* desktop */
  @media (min-width: 1024px) {
    main {
      width: 67%;
    }
  }

  .test {
    height: 10rem;
  }

  .blue {
    background-color: aquamarine;
  }
</style>
