<nav>
  <ol>
    <li><a class="link_effect" href="#about">About me</a></li>
    <li>
      <a class="link_effect" href="#professional">Professional experience</a>
    </li>
    <li><a class="link_effect" href="#knowledge">Knowledge</a></li>
    <li><a class="link_effect" href="#projects">My projects</a></li>
  </ol>
</nav>

<script>
  var animationGoing = false;
  const texts = [
    "About me",
    "Professional experience",
    "Knowledge",
    "My projects",
  ];

  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  async function typeWriter(element, index) {
    if (animationGoing) return;
    animationGoing = true;
    const finalText = element.innerHTML;
    element.innerHTML = "";
    for (let i = 0; i < finalText.length; i++) {
      if (!animationGoing) {
        element.innerHTML = texts[index];
        return;
      }
      element.innerHTML += finalText[i];
      await sleep(30);
    }
    animationGoing = false;
  }

  const links = document.getElementsByClassName("link_effect");
  for (let i = 0; i < links.length; i++) {
    links[i].addEventListener("mouseenter", () => {
      typeWriter(links[i], i);
    });
    links[i].addEventListener("mouseleave", () => {
      animationGoing = false;
    });
  }
</script>

<style>
  nav {
    z-index: 5;
  }

  ol {
    counter-reset: item;
    margin: 3.5rem 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: 1024px) {
      justify-content: none;
      margin-bottom: 0;
    }
  }

  li {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    margin-left: 2em;
    text-align: left;
    border-bottom: none;
    border-bottom: 1px dashed #00000020;

    /* @media (min-width: 1024px) {
    } */
  }

  body.dark-mode li {
    border-bottom: 1px dashed #ffffff20;
  }

  li::before {
    display: inline-block;
    content: "[" counter(item) "]";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
  }
  li::after {
    display: block;
    content: "";
  }

  a {
    color: inherit;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
  }
</style>
