---
import Fuble from "./projects/Fuble.astro";
import OneSeventy from "./projects/OneSeventy.astro";
import OtherProjects from "./projects/OtherProjects.astro";
import AC from "./professional/AC.astro";
---

<section id="professional">
  <h1>
    <span class="noise-texture-text">[2].</span>
    <span class="noise-texture-text">Professional Experience</span>
    <!-- <span class="jp">// プロとしての経験</span> -->
  </h1>
  <AC />
</section>

<style>
  h1 {
    border-bottom: 1px dashed #00000020;
    margin: 0;
    font-family:
      "Computer Modern Typewriter Text Regular",
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  h1 span {
    margin-right: 1.5rem;
  }

  h3 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  .about-container {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  }

  .about-me-image {
    display: block;
    border-radius: 50%;
    margin: 0 5rem;
    padding: 1rem 0;
    height: 15rem;
    width: auto;
  }

  .jp {
    float: right;
    opacity: 0.2;
    font-size: 1.1rem;
    margin: 0 !important;
  }
</style>
