---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Portfolio of Ismael Gómez Reche, Frontend developer based on Valencia, Spain"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth !important;
  }

  @font-face {
    font-family: "Devanagari Sangam MN";
    src: url("/fonts/devanagari-sangam-mn.ttf");
  }

  @font-face {
    font-family: "Testing";
    /* src: url("fonts/Gambetta-Variable.ttf"); */
    src: url("/fonts/CrimsonPro-Variable.ttf");
  }

  @font-face {
    font-family: "Computer Modern Typewriter Text Regular";

    /* Borrar y dejar la siguiente linea para que este como antes */
    /* src: url("fonts/Gambetta-Variable.ttf"); */

    src: url("/fonts/cmu.typewriter-text-light.ttf");
    /* src: url("fonts/courier-prime.ttf"); */
    /* src: url("fonts/metropolis-regular.ttf"); */
  }

  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --mobile-breakpoint: 1024px;

    --dark-mode-underline-color: #ffffff20;
  }

  .dark-mode {
    background-color: black;
    color: white !important;
  }

  html {
    font-family: system-ui, sans-serif;
    background: white;
    background-size: 224px;
  }

  /* .noise-texture-text {
    background: url("images/noise.jpg") 0 0 / cover no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

  /* .dark-mode .noise-texture-text {
    filter: invert(100%);
  } */

  hr {
    display: block;
    border: 0px;
    height: 1px;
    background-color: black;
  }

  .showElement {
    opacity: 0;
  }

  .showElementVisible {
    opacity: 1;
  }
</style>
